<footer class="site-footer">
	<section class="section-wrapper clearfix" id="footer-widgets">
		<div class="footer-logo">
			<img src="/img/neptune-logo_black.svg" alt="Neptune's Logo" />
		</div>
		<div class="social-wrapper">
			<div class="group widget-group">
				<h4 class="widget-title">social</h4>
				<div class="widget-text"><a href="http://www.instagram.com/neptunespeaks">@neptunespeaks</a></div>
			</div>
			<div class="group widget-group">
				<h4 class="widget-title">mgmt</h4>
				<div class="widget-text"><a href="mailto:neptune@svncrwns.com">neptune@svncrwns.com</a></div>
			</div>
			<div class="group widget-group">
				<h4 class="widget-title">press</h4>
				<div class="widget-text"><a href="mailto:press@svncrwns.com">press@svncrwns.com</a></div>
			</div>
		</div>
	</section>
	<div class="year clearfix"><a href="http://www.svncrwns.com" target="_blank"><img src="/img/svncrwns-logo.svg" class="crwns" alt="SVNCRWNS logo" /></a>&copy; 2017.</div>
</footer>
