/* TOC
*
* Foundation
* Header
* Hero Section
* Music & Video
* Bio
* Events / Upcoming Shows
* Press
* Footer Widgets
*
*/

/* 
# Foundation
*/
body {
	background-color: rgba(238,160,77,0.5) !important;
}
p {
	font-family: 18px;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	color: white;
	font-size: 57px;
	text-transform: uppercase;
	@include mobile {
		font-size: 90px;
	}
	@include tv {
		font-size: 120px;
	}
}
h2 {
	color: $color-3;
	font-size: 60px;
	line-height: 44px;
	text-align: center;
	text-shadow: 7px 7px rgba(192, 192, 192, 0.3);
	text-transform: uppercase;
	@include mobile {
		line-height: 60px;
	}
	@include tv {
		font-size: 75px;
	}
}
h2.alt1 {
	font-size: 45px;
	@include mobile {
		font-size: 70px;
	}
	@include tablet {
		font-size: 60px;
	}
	@include tv {
		font-size: 70px;
	}
}
h3,
h3 a {
	color: $color-1;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	text-align: center;
	@include mobile {
		font-size: 34px;
		line-height: 34px;
	}
	@include tablet {
		font-size: 28px;
	}
	@include laptop {
		line-height: 30px;
	}
}
h3 a:hover {
	color: $color-3;
}
h4 {
	color: $color-2;
	font-size: 18px;	
	margin-bottom: 0;
	margin-top: -5px;
	text-align: center;
	@include mobile {
		font-size: 22px;
	}
	@include tablet {
		font-size: 18px;
		text-align: right;
	}
	@include laptop {
		margin-top: 0;
	}
}
.backtop-icon { 
	padding: 0.4em 0.8em;
	position: fixed;
	bottom: 3em; 
	right: 0em;
	z-index: 200;
	border-radius: 34px;
	margin-right: 1em;
 }
.container {
	margin: 5% 6%;
	@include tv {
		margin: 3% auto;
		width: 1400px;
	}
}
.events-text-wrapper .group {
	margin-bottom: 40px;
	@include tv {
		margin: 0 auto 40px;
		width: 60%;
	}
}
.fullwidth {
	@include laptop {
		margin: 0 auto;
		width: 90%;
	}
	@include tv {
		margin: 0 auto;
		width: 1400px;
	}
}
.section-heading {
	margin-bottom: 75px;
}
.section-heading_bio {
	margin: 25px auto;
	text-align: center;
	width: 78%;
	@include tablet {
		margin: -45px auto;
		text-align: left;
	}
}
.section-wrapper {
	margin-top: 120px;
	@include tv {
		margin: 120px auto 0;
		width: 1400px;
	}
}
.wrapper {
	@include wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}
}
/* 
# Header
*/
.site-header a {
	color: #000;
}
.site-header a:hover {
	color: $color-3;
}
.site-logo {
	margin-top: 30px;
	text-align: center;
}
/* 
# Hero Section
*/
.hero-area {
	margin-top: 50px;
	min-height: 100vh;
	position: relative;
	@include small {
		min-height: 120vh;
	}
	@include tv {
		margin: 50px auto;
		max-width: 1400px;
	}
}
.hero-img {
	/*background: url('/img/neptune-hero_v2.jpg');*/
	background: url('/img/neptune-set-1.jpg');
	background-repeat: no-repeat;
	float: right;
	min-height: 100vh;
	position: relative;
	right: 0;
	width: 75%;
	z-index: 1;
	@include small {
		/*background: url('/img/neptune-hero_v2.jpg');*/
		background: url('/img/neptune-set-1.jpg');
		background-position: center center;
		background-size: cover;
	}
}
.hero-text-wrapper {
	position: absolute;
	top: 180px;
	z-index: 200;
	@include tablet {
		left: 5px;
	}
	@include laptop {
		left: 65px;
	}
	@include tv {
		top: 400px;
	}
}
.hero-text-wrapper h1 {
	margin-left: -7px;
	overflow: hidden;
	@include mobile {
		margin-left: -15px;
	}
}
.subtitle-list {
	color: $color-1;
	font-size: 34px;
	line-height: 35px;
	list-style: none;
	margin-top: 150px;
	text-align: right;
	text-transform: uppercase;
	width: 65%;
	@include mobile {
		margin-top: 120px;
		width: 40.5%;
	}
	@include tablet {
		width: 45%;
	}
	@include desktop {
		width: 50%;
	}
	@include tv {
		font-size: 50px;
		line-height: 50px;
	}
}
/* 
# Music + Video Section
*/
.play-btn_alt {
	color: white;
	font-size: 50px;
	/*margin-top: 6vh;*/
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 500;
	max-width: 50%;
	/*@include medium {
		margin-top: 10vh;
	}
	@include mobile {
		margin-top: 13vh;
	}
	@include laptop {
		margin-top: 10vh;
	}
	@include wrapper {
		margin-top: 16vh;
	}*/
	/*@include desktop {
		margin-top: 25vh;
	}*/
}
.primary-img {
	position: absolute;
	top: 35px;
	z-index: 100;
	left: 0;
	@include laptop {
		left: 10px;
		top: 25px;
		width: 95%;
	}
}
.shadow-img {
	position: absolute;
	left: 20px;
	top: 60px;
	z-index: 1;
	@include laptop {
		left: 45px;
		top: 55px;
		width: 95%;
	}
}
.soundcloud {
	margin: 100px auto 0;
	width: 75%;
	@include medium {
		margin-top: 150px;
	}
	@include mobile {
		width: 75%;
	}
	@include tablet {
		float: right;
		margin-right: 10px;
		margin-top: 50px;
		width: 43%;
	}
}
.video-wrapper {
	border: 10px solid white;
	height: 200px;
	margin: 0 auto;
	position: relative;
	width: 80%;
	display: flex;
	align-items: center;
  	justify-content: center;
	@include mobile {
		height: 350px;
		/*width: 60%;*/
	}
	@include tablet {
		width: 50%;
	}
	/*  Waiting to Add Soundcloud Playlist back to layout
	@include tablet {
		float: left;
		width: 47%;
	}*/
}
/* 
# Bio
*/
.body-text {
	color: $color-4;
	font-family: $font-2;
	font-size: 20px;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
	width: 88%;
	@include mobile {
		width: 65%;
	}
	@include tablet {
		font-size: 24px;
		line-height: 36px;
	}
	@include laptop {
		width: 56%;
	}
}
.clear-bio {
	@include large {
		margin-top: 160px;
	}
	@include wrapper {
		margin-top: 240px;
	}
	@include tv {
		margin-top: 340px;
	}
}
/* 
# Events
*/
.event-date {
	@include mobile {
		/*margin-right: 30px;*/
	}
	@include large {
		/*margin-left: 160px;*/
		margin-top: 0;
	}
}
.events-decoration {
	background: rgba(192,155,155,0.2);
	left: 130px;
	min-height: 380px;
	position: absolute;
	top: 220px;
	width: 55%;
	@include mobile {
		left: 180px;
		top: 280px;
	}
	@include large {
		left: 320px;
		top: 280px;
		width: 41%;
	}
	@include tablet {
		left: 160px;
		top: 290px;
		width: 55%;
	}
	@include tv {
		left: 250px;
		top: 330px;
	}
}
.events-group {
	margin: 0 auto;
	width: 80%;
	@include large {
		width: 70%;
	}
	@include tablet {
		width: 90%;
	}
	@include tv {
		width: 55%;
	}
}
.events-img-wrapper {
	margin-bottom: 100px;
	position: relative;
	@include tablet {
		float: left;
		width: 40%;
	}
	@include laptop {
		width: 48%;
	}
}
.events-primary-img {
	position: relative;
	z-index: 3;
}
.events-sub-img {
	left: 20px;
	position: absolute;
	top: 15px;
	z-index: 1;
}
.events-text-wrapper {
	position: relative;
	@include tablet {
		float: right;
		margin-right: 20px;
		width: 50%;
	}
	@include laptop {
		margin-right: 50px;
		width: 40%;
	}
	@include tv {
		float: left;
	}
}
.group h3, h4 {
	position: relative;
	z-index: 300;
}
.photo-2 {
	@include tablet {
		left: 70px;
	}
	@include laptop {
		left: 75px;
	}
	@include tv {
		margin-right: 25px;
	}
}
.photo-group {
	margin-top: 75px;
	position: relative;
}
/* 
# Press
*/
.press-group h3,
.press-group h4 {
	text-align: center;
}
.press-group {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.press-container {
	@include tablet {
		margin: 0 auto;
		width: 60%;
	}
}
.press-group-list {
	@include tablet {
		float: left;
		width: 50%;
	}
}
.press-link {
	font-size: 20px;
}
.press-white {
	color: rgba(133, 50, 70, 0.6);
	font-size: 14px;
	margin-top: -5px;
	text-transform: uppercase;
}
/* 
# Footer Widgets
*/
.crwns {
	padding-right: 15px;
	width: 2em;
}
.footer-logo {
	margin: 0 auto 80px;
	width: 130px;
	@include tablet {
		float: right;
		margin-bottom: 0;
		margin-right: 40px;
		width: 45px;
	}
}
.site-footer {
	margin: 120px 50px 20px 50px;
}
.social-wrapper {
	@include tablet {
		float: left;
		margin-left: 20px;
	}
}
.widget-group {
	color: $color-4;
	margin-top: 20px;
	@include tablet {
		float: left;
		margin-bottom: 0;
		margin-left: 70px;
	}
}
.widget-group:first-child {
	@include tablet {
		margin-left: 0;	
	}
}
.widget-text, 
.widget-text a,
.widget-text a:visited {
	color: $color-4;
	font-family: $font-2;
	font-size: 16px;
	margin-top: -7px;
	text-align: center;
	@include tablet {
		font-size: 14px;
	}
	@include laptop {
		font-size: 15px;
	}
}
.widget-text a:hover {
	color: $color-3;
}
.widget-title {
	color: $color-1;
	font-size: 20px;
	text-transform: uppercase;
	@include mobile {
		text-align: center;
	}
	@include tablet {
		font-size: 14px;
		text-align: left;
	}
}
.year {
	color: $color-1;
	font-family: $font-2;
	margin-top: 110px;
	padding-bottom: 15px;
	text-align: center;
	@include laptop {
		margin-top: 175px;
	}
	@include tablet {
		font-size: 12px;
		margin-left: 20px;
		margin-top: 20px;
		padding-bottom: 10px;
		text-align: left;
	}
	@include tv {
		margin: 40px auto 0;
		width: 1400px;
	}
}